<!DOCTYPE html>
<html>
  <head>
    <title>OAuth tutorial</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<header>
  		<ul>
  			<li><a href="/">Home</a></li>
        <li><a href="/auth/login">Log in</a></li>
        <li><a href="/auth/logout">Log out</a></li>
  		</ul>	
  	</header>
    <main>
      <h1>Learning google OAuth</h1>
    </main>
  </body>
</html>